In [14]:
from pathlib import Path
import csv

In [15]:
print(f"Current Working Directory: {Path.cwd()}")

Current Working Directory: /Users/amilamevic/Desktop/FinTech/python-homework/PyBank/Working Folder

In [16]:
csvpath = Path('../Resources/budget_data.csv')

In [58]:
#line_num = 0
total_months = 0
total_revenue = 0
max_profit = 0
max_profit_month = ""
min_profit = 9999999
min_profit_month = ""
#average = 0

In [71]:
with open(csvpath, 'r') as csvfile:
      
    csvreader = csv.reader(csvfile, delimiter=',')
    
    # Reading the headers
    next(csvreader)
        
    for row in csvreader:
        total_months += 1
        total_revenue += int(row[1])
        
        if int(row[1]) > max_profit:
            max_profit = int(row[1])
            max_profit_month = row[0]
            
        if int(row[1]) < min_profit:
            min_profit = int(row[1])
            min_profit_month = row[0]

In [60]:
total_months

86

In [61]:
total_revenue

38382578

In [70]:
max_profit

1170593

In [63]:
min_profit

-1196225

In [64]:
round(total_revenue/total_months,2)

446309.05

In [65]:
max_profit_month

'Feb-2012'

In [66]:
min_profit_month

'Sep-2013'

In [21]:
import pandas as pd

In [23]:
df = pd.read_csv(csvpath)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [24]:
df['Profit/Losses'].sum()

38382578